@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.google.com/specimen/Roboto+Mono?sidebar.open=true&selection.family=Roboto+Mono:wght@500');
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
	background-color: #ffae35 !important;
	border-color: #ffffff !important;
	border-width: 3px;
	border-radius: 40px !important;
}

.image-container {
	top: 0;
	left: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #ffffff;
	background-size: contain;
	background-repeat: repeat !important;
	background-image: url('../assets/backgrounds/WhiteBG.png');
	z-index: -1;
}

.background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto auto auto 25%;
	/* Ipad Res*/
	width: 100vw;
	height: 93.70424597364568vw;
	max-width: 106.71875vh;
	max-height: 100vh;
	/* PC resolution
	width: 100vw;
	height: 75vw;
	max-width: 133.3vh;
	max-height: 100vh;
*/
	overflow: visible;
	background-color: transparent;
}

.corner-1 {
	position: absolute;
	left: 1%;
	top: 1%;
}

.ui-btn {
	position: absolute;
	height: 8%;
	width: 21.5%;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: transparent;
	background-position: center;
	border: none;
	z-index: 1000;
}

.ui-btn:focus {
	outline: none;
}

.ui-btn:active {
	opacity: 0.7;
}

.home-btn {
	top: 3%;
	right: -40%;
	background-image: url("../assets/uibuttons/HomeButton.png");
}

.back-btn {
	top: 11.5%;
	left: 4%;
	background-image: url("../assets/uibuttons/BackButton.png");
}

.next-btn {
	top: 3%;
	left: 5%;
	height: 8%;
	width: 20%;
	background-image: url("../assets/uibuttons/NextButton.png");
}

.corner-2 {
	position: absolute;
	right: 1%;
	top: 1%;
}

.corner-3 {
	position: absolute;
	left: 1%;
	bottom: 1%;
}

.corner-4 {
	position: absolute;
	right: 1%;
	bottom: 1%;
}

.robo-font {
	font-family: 'Roboto Mono', monospace;
}

@font-face {
	font-family: 'Berlin Sans FB';
	src: url('./fonts/BerlinSansFB-Reg.woff2') format('woff2'), url('./fonts/BerlinSansFB-Reg.woff') format('woff'), url('./fonts/BerlinSansFB-Reg.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.berlin-font {
	font-family: 'Berlin Sans FB', serif;
	font-weight: normal;
	font-style: normal;
}

.swal2-styled {
	background-color: #ffae35 !important;
}