@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.google.com/specimen/Roboto+Mono?sidebar.open=true&selection.family=Roboto+Mono:wght@500');
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
	background-color: #ffae35 !important;
	border-color: #ffffff !important;
	border-width: 3px;
	border-radius: 40px !important;
}

.image-container {
	top: 0;
	left: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #ffffff;
	background-size: contain;
	background-image: url('../assets/backgrounds/WhiteBG.png');

}

.background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100vw;
	height: 75vw;
	max-width: 133.3vh;
	max-height: 100vh;
}

.corner-1 {
	position: absolute;
	left: 1%;
	top: 1%;
}

.ui-btn{
	position: absolute;
	height: 8%;
	width: 16.5%;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: transparent;
	background-position: center;
	border: 0px;
	z-index: 1000;
}

.home-btn {
	top: 11.5%;
	left: 13.5%;
	background-size: cover;
	background-image: url("../assets/uibuttons/BackButton.png");
}

.back-btn {
	top: 3%;
	left: 13.5%;
	background-image: url("../assets/uibuttons/BackButton.png");
}

.setting-btn {
	top: 20%;
	left: 13.5%;
	background-image: url("../assets/uibuttons/SettingButton.png");
}

.next-btn {
	top: 3%;
	left: 13.5%;
	
	height: 9%;
	width: 18%;
	background-image: url("../assets/uibuttons/NextButton.png");
}

.corner-2 {
	position: absolute;
	right: 1%;
	top: 1%;
}

.corner-3 {
	position: absolute;
	left: 1%;
	bottom: 1%;
}

.corner-4 {
	position: absolute;
	right: 1%;
	bottom: 1%;
}

.robo-font {
	font-family: 'Roboto Mono', monospace;
}

.berlin-font {
	font-family: 'Roboto Mono', monospace;
}

.swal2-styled {
	background-color: #ffae35 !important;
}